.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #3baf0d;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #43c70f;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/portrait1.png");
  border-radius: 50%;
  border: solid 3px #3710e6;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #3710e6;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #3710e6;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #43c70f;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/emile2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(67, 199, 15, 0.5);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
  color: #3710e6;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #3710e6;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main .icons a:hover {
  color: #3710e6;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio'
 'job1 job2 job3';
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #3710e6 3px solid;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
}

.projects img:hover {
  opacity: 0.5;
  border-color: #3710e6;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #3710e6;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #3710e6;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #e3fcd9;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #33980b;
  color: #000;
  height: 60px;
}

/*---cerles chart-competances----*/
.competances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  /* 1 */
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  /* 2, 3 */
  -webkit-transform-origin: center;
          transform-origin: center;
  /* 4 */
}

.circle-chart__circle--negative {
  -webkit-transform: rotate(-90deg) scale(1, -1);
          transform: rotate(-90deg) scale(1, -1);
  /* 1, 2, 3 */
}

.circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Layout styles only, not needed for functionality */
html {
  font-family: sans-serif;
  padding-right: 5em;
  padding-left: 1em;
}

.competances {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 5em;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
  .competances {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(4, 1fr);
  }
}

/*login*/
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.picture {
  -webkit-transform: perspective(800px) rotateY(-25deg);
          transform: perspective(800px) rotateY(-25deg);
}

#container {
  width: 400px;
}

/* Bordered form */
form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
  background-color: #3710e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #43c70f;
  color: #cfd8c4;
  border: 1px solid #53af57;
}

.frame {
  width: 600px;
  height: 350px;
  margin: 100px auto 0;
  position: relative;
  background: #435d77;
  border-radius: 0 0 40px 40px;
}

#button_open_envelope {
  width: 180px;
  height: 60px;
  position: absolute;
  z-index: 321;
  top: 250px;
  left: 208px;
  border-radius: 10px;
  color: #fff;
  font-size: 26px;
  padding: 20px 0;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#button_open_envelope:hover {
  background: #FFf;
  color: #2b67cb;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: background .25s, ease-in, -webkit-transform .5s;
  transition: background .25s, ease-in, -webkit-transform .5s;
  transition: background .25s, transform .5s,ease-in;
  transition: background .25s, transform .5s,ease-in, -webkit-transform .5s;
  cursor: pointer;
}

.message {
  position: relative;
  width: 580px;
  min-height: 300px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  top: 30px;
  -webkit-box-shadow: 0 0 5px 2px #333;
          box-shadow: 0 0 5px 2px #333;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  z-index: 300;
}

.left, .right, .top {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  z-index: 310;
}

.left {
  border-left: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
}

.right {
  border-right: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  left: 300px;
}

.top {
  border-right: 300px solid transparent;
  border-top: 200px solid #03A9F4;
  border-left: 300px solid transparent;
  -webkit-transition: border 1s, ease-in-out,-webkit-transform 1s;
  transition: border 1s, ease-in-out,-webkit-transform 1s;
  transition: transform 1s,border 1s, ease-in-out;
  transition: transform 1s,border 1s, ease-in-out,-webkit-transform 1s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  z-index: 500;
}

.bottom {
  width: 600px;
  height: 190px;
  position: absolute;
  background: #2b67cb;
  top: 160px;
  border-radius: 0 0 30px 30px;
  z-index: 310;
}

.open {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: border .7s,z-index .7s ease-in-out,-webkit-transform .7s;
  transition: border .7s,z-index .7s ease-in-out,-webkit-transform .7s;
  transition: transform .7s,border .7s,z-index .7s ease-in-out;
  transition: transform .7s,border .7s,z-index .7s ease-in-out,-webkit-transform .7s;
  border-top: 200px solid #2c3e50;
  z-index: 200;
}

.pull {
  -webkit-animation: message_animation 2s 1 ease-in-out;
  animation: message_animation 2s 1 ease-in-out;
  -webkit-animation-delay: .9s;
  animation-delay: .45s;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 350;
}

#name, #email, #phone, #messarea, #send {
  margin: 0;
  padding: 0 0 0 10px;
  width: 550px;
  height: 40px;
  float: left;
  display: block;
  font-size: 18px;
  color: #2b67cb;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  letter-spacing: normal;
}

#messarea {
  height: 117px;
  width: 550px;
  overflow: auto;
  border: none;
  padding: 10px;
}

#send {
  width: 550px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: #7CB342;
  color: #fff;
  -webkit-transition: .35s;
  transition: .35s;
  letter-spacing: 1px;
}

#send:hover {
  background: tomato;
  -webkit-transition: .35s;
  transition: .35s;
}

::-moz-placeholder {
  color: #333;
  font-family: 'Ubuntu';
  font-size: 20px;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #333;
  font-family: 'Ubuntu';
  font-size: 20px;
}

*:focus {
  outline: none;
}

input:focus:invalid, textarea:focus:invalid {
  /* when a field is considered invalid by the browser */
  background: #fff url(images/invalid.png) no-repeat 98% center;
  -webkit-box-shadow: 0 0 5px #d45252;
          box-shadow: 0 0 5px #d45252;
  border: 1px solid #b03535;
}

input:required:valid, textarea:required:valid {
  /* when a field is considered valid by the browser */
  background: #fff url(images/valid.png) no-repeat 98% center;
  -webkit-box-shadow: 0 0 5px #5cd053;
          box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

@-webkit-keyframes message_animation {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    z-index: 300;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  50% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
    z-index: 300;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  51% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
    z-index: 350;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    z-index: 350;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

@keyframes message_animation {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    z-index: 300;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  50% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
    z-index: 300;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  51% {
    -webkit-transform: translatey(-340px);
            transform: translatey(-340px);
    z-index: 350;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    z-index: 350;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.item div img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item div:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/zakia.png");
    width: 150px;
    height: 150px;
  }
  .about-info {
        grid-template-areas: 'bioimage'
 'bio'
 'job1'
 'job2'
 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .competances {
    text-align: center;
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
  .frame {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 40px;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .picture {
    width: 10px;
  }
}
/*# sourceMappingURL=main.css.map */